.container {
  width: 80%;
  margin: 1em auto;
  padding: 1rem;
}

.summary {
  font-size: 1.2rem;
  font-weight: 600;
}

.list {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  margin: 1rem 0 0;
  grid-column-gap: 1%;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  margin: 0 0 1.5rem;
}

.title {
  margin: 0 0 0.25rem;
  font-weight: 600;
  cursor: pointer;
}

.title:hover {
  font-weight: 800;
  color: steelblue;
}

.photo:focus,
.title:focus {
  outline: 0;
}

.city {
  font-size: 0.8rem;
  font-weight: 400;
}

.host {
  margin: 0.4rem 0 0;
  font-size: 0.8rem;
}

.photo {
  width: 100%;
  max-width: 360px;
  max-height: 180px;
  margin: 0 0 0.5rem;
  cursor: pointer;
}

@media (max-width: 1123px) {
  .list {
    grid-template-columns: 31% 31% 31%;
  }
}

@media (max-width: 640px) {
  .list {
    grid-template-columns: 48% 48%;
  }
}

@media (max-width: 360px) {
  .list {
    grid-template-columns: 100%;
  }
}
