.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: 2rem;
  border: 1px solid lightgrey;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
  font-size: 0.8rem;
  background-color: white;
}

.field {
  width: 15rem;
  border: 0;
  font-size: 0.9rem;
}

.field:focus {
  outline: 0;
}

.icon,
.cancel {
  padding: 0 0.5rem;
  cursor: default;
}

.cancel {
  align-self: start;
  opacity: 0;
  font-size: 1.5rem;
}

.active {
  opacity: 1;
  cursor: pointer;
}

.active:focus {
  outline-color: lightgrey;
}

@media (max-width: 400px) {
  .bar {
    width: 80%;
  }
  .field {
    width: 72%;
  }
}
