.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  height: 5rem;
  border-bottom: lightgrey 2px solid;
  background-color: white;
}

.menu {
  display: flex;
  align-items: center;
}

.menu > * {
  margin: 0 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: not-allowed;
}

.menu > img {
  width: 2rem;
}

@media (max-width: 640px) {
  .menu {
    display: none;
  }
}
